<ion-header>
  <ion-toolbar>
    <ion-title>QR Code Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="startScan()">Scan QR Code</ion-button>
  <ion-button expand="block" (click)="navigateToIndex()">Go to QR Generator</ion-button>
  <ion-button expand="block" (click)="navigateToDetails()">Go to Shipment Details</ion-button>
  <ion-button expand="block" (click)="fetchHtmlContent('index.html')">Fetch index.html</ion-button>
  <ion-button expand="block" (click)="fetchHtmlContent('index2.html')">Fetch index2.html</ion-button>
</ion-content>
